*.elc

configs/.config/configstore
configs/.config/direnv/allow
configs/.config/hub
configs/.config/pgcli/history
configs/.config/ranger/bookmarks
configs/.config/ranger/history
configs/.config/ranger/tagged
settings/vscode/workspaceStorage/
