config/fish/fish_history
config/fish/fishd*
config/hub
vim/session
vim/.netrwhist
vim/bundle
tags
config/configstore
mutt/cache
mutt/certificates
mutt/offlineimap.pyc
mutt/tmpdir
mutt/mailboxes
config/fish/generated_completions
vim/view
