[submodule "vim/bundle/surround.git"]
	path = vim/bundle/surround.git
	url = git://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "vim/bundle/vim-unimpaired.git"]
	path = vim/bundle/vim-unimpaired.git
	url = git://github.com/tpope/vim-unimpaired.git
  ignore = untracked
[submodule "vim/bundle/vim-fugitive.git"]
	path = vim/bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "vim/bundle/vim-git.git"]
	path = vim/bundle/vim-git.git
	url = git://github.com/tpope/vim-git.git
  ignore = untracked
[submodule "vim/bundle/vim-markdown.git"]
	path = vim/bundle/vim-markdown.git
	url = git://github.com/tpope/vim-markdown.git
  ignore = untracked
[submodule "vim/bundle/vim-rdoc.git"]
	path = vim/bundle/vim-rdoc.git
	url = git://github.com/hallison/vim-rdoc.git
  ignore = untracked
[submodule "vim/bundle/vim-coffee-script.git"]
	path = vim/bundle/vim-coffee-script.git
	url = git://github.com/kchmck/vim-coffee-script.git
  ignore = untracked
[submodule "vim/bundle/vim-endwise.git"]
	path = vim/bundle/vim-endwise.git
	url = https://github.com/tpope/vim-endwise.git
  ignore = untracked
[submodule "vim/bundle/vim-repeat.git"]
	path = vim/bundle/vim-repeat.git
	url = git://github.com/tpope/vim-repeat.git
  ignore = untracked
[submodule "vim/bundle/supertab.git"]
	path = vim/bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
  ignore = untracked
[submodule "vim/bundle/vim-indent-object.git"]
	path = vim/bundle/vim-indent-object.git
	url = git://github.com/michaeljsmith/vim-indent-object.git
  ignore = untracked
[submodule "vim/bundle/vim-autoclose.git"]
	path = vim/bundle/vim-autoclose.git
	url = https://github.com/Townk/vim-autoclose.git
  ignore = untracked
[submodule "vim/bundle/command-t.git"]
	path = vim/bundle/command-t.git
	url = git://git.wincent.com/command-t.git
  ignore = untracked
[submodule "vim/bundle/vim-rails.git"]
	path = vim/bundle/vim-rails.git
	url = git://github.com/tpope/vim-rails.git
  ignore = untracked
[submodule "vim/bundle/vim-haml.git"]
	path = vim/bundle/vim-haml.git
	url = https://github.com/tpope/vim-haml.git
  ignore = untracked
[submodule "vim/bundle/syntastic.git"]
	path = vim/bundle/syntastic.git
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "vim/bundle/vim-rake.git"]
	path = vim/bundle/vim-rake.git
	url = https://github.com/tpope/vim-rake.git
  ignore = untracked
[submodule "vim/bundle/vim-ragtag.git"]
	path = vim/bundle/vim-ragtag.git
	url = https://github.com/tpope/vim-ragtag.git
  ignore = untracked
[submodule "vim/bundle/vim-align.git"]
	path = vim/bundle/vim-align.git
	url = https://github.com/tsaleh/vim-align.git
  ignore = untracked
[submodule "vim/bundle/vim-javascript.git"]
	path = vim/bundle/vim-javascript.git
	url = https://github.com/pangloss/vim-javascript.git
  ignore = untracked
[submodule "vim/bundle/nerdcommenter.git"]
	path = vim/bundle/nerdcommenter.git
	url = https://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "vim/bundle/tcomment_vim.git"]
	path = vim/bundle/tcomment_vim.git
	url = https://github.com/tomtom/tcomment_vim.git
  ignore = untracked
[submodule "vim/bundle/colors-solarized.git"]
	path = vim/bundle/colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
  ignore = untracked
