[submodule "vim/bundle/surround.git"]
	path = vim/bundle/surround.git
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-unimpaired.git"]
	path = vim/bundle/vim-unimpaired.git
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-fugitive.git"]
	path = vim/bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git.git"]
	path = vim/bundle/vim-git.git
	url = git://github.com/tpope/vim-git.git
