[submodule "vim/bundle/surround.git"]
	path = vim/bundle/surround.git
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-unimpaired.git"]
	path = vim/bundle/vim-unimpaired.git
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-fugitive.git"]
	path = vim/bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git.git"]
	path = vim/bundle/vim-git.git
	url = git://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-markdown.git"]
	path = vim/bundle/vim-markdown.git
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-rdoc.git"]
	path = vim/bundle/vim-rdoc.git
	url = git://github.com/hallison/vim-rdoc.git
[submodule "vim/bundle/vim-coffee-script.git"]
	path = vim/bundle/vim-coffee-script.git
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-endwise.git"]
	path = vim/bundle/vim-endwise.git
	url = https://github.com/tpope/vim-endwise.git
