*.elc
.clj-kondo/*
.lsp/*
configs/.config/configstore
configs/.config/clojure/.cpcache
configs/.config/direnv/allow
configs/.config/gatsby
configs/.config/hub
configs/.config/lazygit/state.yml
configs/.config/pgcli/history
configs/.config/ranger/bookmarks
configs/.config/ranger/history
configs/.config/ranger/tagged
configs/.config/raycast/extensions/*
configs/.config/rest-client
configs/.config/wslu
configs/.config/yarn/global
configs/.config/zed/conversations
settings/vscode/workspaceStorage/
settings/vscode/globalStorage/
settings/vscode/history/
