root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,py,rb,ts,yaml,yml}]
indent_size = 2
indent_style = space

[*.{py,ts}]
indent_size = 4
indent_style = space

# Tab indentation (no size specified)
[Makefile]
indent_style = tab
