# OS X
.DS_Store

# Linux
*~

# Vim
.viminfo
*.un~

# Textmate
*.tmproj

# Logging
*.log
configs/.config/pgcli/log

# Subversion
.svn

# ctags
tags

# ruby
*.gem

# rails
.sass-cache
/log/*
/tmp/*

# scala
.ensime
.ensime_cache/*

# clojure
configs/.lein/repl-history

# direnv
configs/.config/direnv
.envrc
