[user]
  email=matthew@lyonheart.us
  name = Matthew Lyon

[hub]
  protocol=https

[core]
  attributesfile=~/.gitattributes
  excludesfile=~/.gitignore
	# pager = delta --light | less --tabs=4 -RFX

[fetch]
	prune = true

[color]
	ui = true
  diff=auto
  status=auto
  branch=auto

[diff]
  renames = copies
	compactionHeuristic = true

[format]
  pretty="format:%Cred%ae %Creset- %C(yellow)%h %s %Creset(%ar)"

[help]
  autocorrect=1

[log]
  date=short

[push]
  default=current

[alias]
  # amend to the last commit
  amend = commit --amend -C HEAD

  # show all branches, even across remotes
  branches = branch -a --color -v

  # shallow clone a repository, because we don't care about history
  clone-shallow = clone --depth 1
  shallow-clone = clone --depth 1

  # merge the branch, keeping its commits in their own branch
  fold = merge --no-ff

  # put this branch at a particular ref
  goto = reset --hard

  # diff the index against the previous commit
  staged = diff --cached

  # better status
  stat = status -sb

  # update all remotes, pruning removed tracking branches
  update-remotes = remote update --prune

[credential]
	helper = osxkeychain
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[rerere]
	enabled = true
[magithub]
	enabled = false
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[url "ssh://git@github.com"]
  insteadOf = https://github.com
[init]
	defaultBranch = main
